{erl_opts, [debug_info]}.

{deps, []}.

{pre_hooks, [
    {"(linux|darwin|freebsd|netbsd|openbsd)", compile, "make -C c_src"},
    {"win32", compile, "nmake /F c_src\\Makefile.win"}
]}.

{post_hooks, [
    {"(linux|darwin|freebsd|netbsd|openbsd)", clean, "make -C c_src clean"}
]}.

{shell, [
    {apps, [erlang_python]}
]}.

{project_plugins, [rebar3_ex_doc]}.

{ex_doc, [
    {source_url, <<"https://github.com/benoitc/erlang-python">>},
    {main, <<"readme">>},
    {extras, [<<"README.md">>]}
]}.
